@media all and (max-width: 1200px)
{
    #krs
    {
	    margin-left: 75%;
    }
    
   #nav .toggle
    {
        display:block;
        color: #EEC43D;
        font-size: 24px;
        padding-top: 20px;
        margin-left: 90%;
        text-decoration: none;
        border: none;
    }
    
    #nav ul
    {
        display: none;
    }
    
    #nav #drop:checked + ul
    {
        margin-left: 85%;
        display: block;  
        text-align: center;
    }
    
    #nav > ul > li
    {
        display: block;
        opacity: 0.5;
        background-color: black;
        width: 90%;
        padding: 10px 30px;  
    }
    
    #nav > ul > li >a
    {    
        color: white;
    }
    
}

@media all and (max-width: 1000px)
{
    #krs
    {
	    margin-left: 65vw;
    }
    
    #news
    {
        height: 450px;
    }
    
    #tekst p
    {
        text-align: center;
        font-size: 1.8vw;
        color: black;
        padding: 15px 30px;
    }
    

}

@media all and (max-width: 850px)
{
    #media 
    {
	    display: none;
    }
    
    #krs 
    {
	    margin-left: 75%;
    }
    
    #contact
    {
        display: none;
    }
    
    #contact2 
    {
	    display: block;
    }
    
    
}

@media all and (max-width: 680px)
{
    h1
    {
        text-align: center;
    }
    
    #media 
    {
	    display: none;
    }
    
    #krs 
    {
	    display: none;
    }
    
    #nav .toggle
    {
        margin-left: 80%;
    }
      
    .krs-resp
    {
        text-align: center;
        display: block;
    }
    
    #tekst 
    {
	    display: none;
    }
        
    #figure 
    {
        width: 80%;
	    margin-left: 10%;
        padding-top: 5px;
        height: 300px;
    }
    
    #news 
    {
	    height: 360px;
    }
    
    #news h2
    {
        padding-left: 0px;
        text-align: center;
    }
    
    #news figcaption
    {
        text-align: center;
        font-size: 25px;
        display: block;
    }
    
    #goal 
    {
	    width: 80%;
        height: 300px;
    }
    
    #event
    {
        width:100%;
        height: 450px; 
        margin:0;
        clear: both;
    }
    
     #event .figure     
    {
        margin-bottom: 50px;
        height: 150px;
	    width: 48%;
    }
    
     #event .figure:nth-of-type(2n)
    {
        margin-left: 4%;
    }
    
    #event .figure img
    {
        width: 100%;
    }
    
    #fb 
    {
        display: none;
	    clear: both;
    }
    
    #help 
    {
	    height: 340px;
    }
    
    #help p
    {
        padding: 10px;
        font-size: 3vw;
    }
    
    
    
    
}